.App {
  display: flex;
	flex-direction: column;
	width: 400px;
	height: fit-content;
	min-height: 400px;
}

.App-header, .nav-btns,.input-panel, .city, .data{
	display: flex;
	flex-direction: row;
}
.Home{
	display: flex;
	flex-direction: column;
}
.input-panel{
	margin: 5px;
	display: flex;
	justify-content: center;
}


.App-header{
	padding: 0 4px;
	height: 40px;
	width: 100%;
	background-color: cornflowerblue;
	align-items: center;
	justify-content: space-between;

}

.header-btn{
	cursor: pointer;
	margin: 3px;
}

.search-btn{
	
}

.search-input{

}

.add-to-favorite{

}

.wether-info{

}





